<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=1">
  <link rel="stylesheet" href="../../libraries/bootstrap/css/normalize.css">
  <link rel="stylesheet" href="../../libraries/bootstrap/css/bootstrap.css">
  <link rel="shortcut icon" href="images/PDpedia2.png">
  <!-- <link rel="stylesheet" href="css/bootstrap-theme.css"> -->
  <link rel="stylesheet" href="css/master.css">
  <title>PDpedia - Biografia de chico</title>
</head>

<body>
  <script src="../../libraries/jQuery/jquery-2.1.4.js" type="text/javascript"></script>
  <script src="../../libraries/bootstrap/js/bootstrap.js" type="text/javascript"></script>
  
  <script type="text/javascript">
    $('.dropdown-menu').find('form').click(function(e) {
      e.stopPropagation();
    });
  </script>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <!--  Esse é um daqueles botões de "hambúrger"-->
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="#">PDpedia</a> -->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="index.html#hero">Home</a></li>
          <li><a href="index.html#artigos">Artigos</a></li>
          <li><a href="index.html#biografias">Biografias</a></li>
          <li><a href="index.html#acontecimentos">Acontecimentos</a></li>
          <li class="dropdown dropdown-large">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Login
            </a>
            <ul id="div-form-login" class="dropdown-menu">
              <li>
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="loginID" class="control-label">RA:</label>
                    <input type="text" class="form-control" id="loginID" placeholder="Digite o seu trem">
                  </div>
                  <div class="form-group">
                    <label for="loginPass" class="control-label">Senha:</label>
                    <input type="password" class="form-control" id="loginPass" placeholder="Bote sua senha">
                  </div>
                </form>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <img src="images/hero-wallpaper.jpg" id="imagemAcont"></img>
  <div id="tituloAcont">
    <h1><center>As 1001 DPs</center></h1>
  </div>

  <div id="content">
    <div class="apresentacao container-fluid col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="row">
        hello<br><br><br>fefwefwe
      </div>
    </div>
  </div>
</body>

</html>