<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=1">
  <link rel="stylesheet" href="../../dependencies/bootstrap/css/normalize.css">
  <link rel="stylesheet" href="../../dependencies/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="css/master.css">
  <link rel="stylesheet" href="css/biografia.css">
  <link rel="shortcut icon" href="images/PDPedia_icon.png">
  <title>pedia - biografia de Chico</title>
</head>

<body>
  <script src="../../dependencies/jQuery/jquery-2.1.4.js" type="text/javascript"></script>
  <script src="../../dependencies/bootstrap/js/bootstrap.js" type="text/javascript"></script>

  <script type="text/javascript">
    $('.dropdown-menu').find('form').click(function(e) {
      e.stopPropagation();
    });
  </script>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <!--  Esse é um daqueles botões de "hambúrger"-->
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="#">PDpedia</a> -->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="navbar-header">
          <a class="navbar-brand" id="pdpedia-icon" href="./">
            <img alt="Brand" src="images/PDpedia.png" style="width:auto; height:40px; margin-top: 7px">
          </a>
          <!-- <a class="navbar-brand" href="./">PDpedia</a> -->
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown dropdown-large">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Busca
            </a>
            <ul id="form-busca" class="dropdown-menu col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <li>
                <form class="form-horizontal" role="search">
                  <div class="form-group">
                    <input type="text" class="form-control" name="termo-busca" placeholder="🔍">
                  </div>
                  <div class="form-group">
                    <select class="form-control col-xs-12 col-sm-12 col-md-4 col-lg-4" name="categoria-busca">
                      <option value="0">Todos</option>
                      <option value="1">Artigo</option>
                      <option value="2">Acontecimento</option>
                      <option value="3">Biografia</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <select class="form-control col-xs-12 col-sm-12 col-md-4 col-lg-4" name="data-busca">
                      <option value="0">Qualquer data</option>
                      <option value="1">Última semana</option>
                      <option value="2">Último mês</option>
                      <option value="3">Último ano</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-default" type="submit">Buscar</button>
                  </div>
                </form>
              </li>
            </ul>
          </li>
          <li class="dropdown dropdown-large">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Login
            </a>
            <ul id="form-login" class="dropdown-menu">
              <li>
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="loginID" class="control-label">ID</label>
                    <input type="text" class="form-control" id="loginID" placeholder="Enter ID">
                  </div>
                  <div class="form-group">
                    <label for="loginPass" class="control-label">Password</label>
                    <input type="password" class="form-control" id="loginPass" placeholder="Enter Password">
                  </div>
                  <div class="form-group">
                    <button type="button" class="form-control btn-default" id="loginConf">Logar</button>
                  </div>
                </form>
              </li>
            </ul>
          </li>
          <li class="dropdown dropdown-large">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Requisitar cadastro
            </a>
            <ul id="form-cadastrar" class="dropdown-menu">
              <li>
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="loginID" class="control-label">ID</label>
                    <input type="text" class="form-control" id="loginID" placeholder="Enter ID">
                  </div>
                  <div class="form-group">
                    <label for="loginNome" class="control-label">Nome</label>
                    <input type="text" class="form-control" id="loginNome" placeholder="Enter Name">
                  </div>
                  <div class="form-group">
                    <label for="cadastrarPass" class="control-label">Password</label>
                    <input type="password" class="form-control" id="cadastrarPass" placeholder="Enter Password">
                  </div>
                  <div class="form-group">
                    <label for="cadastrarConfPass" class="control-label">Confirm Password</label>
                    <input type="password" class="form-control" id="cadastrarConfPass" placeholder="Repeat Password">
                  </div>
                  <div class="form-group">
                    <button type="button" class="form-control btn-default" id="cadastrarConf">Cadastrar</button>
                  </div>
                </form>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <div id="content">

    <div id="biografia" class="pagina container-fluid">
      <div class="propriedades-conteudo container-fluid col-xs-12 col-sm-6 col-md-3 col-lg-2" id="d1">
        <div class="row">
          <div class="table-responsive" style="overflow: hidden;">
            <table id="informacoesBio" class="table table-reflow table-condensed table-borderless">
              <thead>
                <tr>
                  <td colspan='2' style="text-align: center;">
                    <center><img src="images/romulo.jpg" id="bio-pic" class="img img-responsive img-circle"></center>
                    <br>
                    <br>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Nascimento:</th>
                  <td>08/09/2000</td>
                </tr>

                <tr>
                  <th>Idade:</th>
                  <td>16</td>
                </tr>

                <tr>
                  <th>Ocupação:</th>
                  <td>Estudante</td>
                </tr>

                <tr>
                  <th>Trabalhos marcantes:</th>
                  <td>Poty</td>
                </tr>

                <tr>
                  <th>Curso Técnico:</th>
                  <td>Informática</td>
                </tr>

                <tr>
                  <th>Escola:</th>
                  <td>COTUCA</td>
                </tr>

                <tr>
                  <th>Linguagens preferidas:</th>
                  <td>
                    Delphi, C#
                  </td>
                </tr>
              </tbody>
            </table>
            <br>
          </div>
        </div>
      </div>
      <div class="texto-conteudo container-fluid col-xs-12 col-sm-6 col-md-9 col-lg-10">
        <div class="row">
          <h1><b>André Luis Romão Gouvea</b></h1>
          <hr>
          <p>André Luis Romão Gouveia, mais conhecido como Rominho, é um estudante do colégio técnico COTUCA.</p>
          <p>Ele tem exelente qualidade quando se trata de futebol, tanto é que participa do time A do curso de informática do 2º ano de sua escola. Já obteve destaque em várias partidas e já fez vários gols pelo time em que joga.
          </p>
          <br>
          <h3><b>Sonhos e foco</b></h3>
          <p>O maior sonho de Rominho é a “Paz Mundial”, juntamente com o sonho de ser um dos melhores jogadores de futebol.<br> Ele  se foca bastante em "jogos .io", como <a href="http://agar.io">agar.io</a>, <a href="http://slither.io">slither.io</a>, entre muitos outros, pois é algo que lhe dá prazer e algum dia pretende fazer um desses jogos.</p><br>
          <h3><b>Citações mais conhecidas</b></h3>
          <blockquote>
            <p><em>“Nossa, vou muito mal nessa prova”</em></p>
          </blockquote>
          <blockquote>
            <p>&quot;<em>Não estudei nada, só fiz um resumo de 30 páginas&quot;</em></p>
          </blockquote><br>
          <h3><b>Peculiaridades</b></h3>
          <ul>
            <li>Os amigos pessoais de André falam que ele tem cara de pizza</li>
            <li>Ele é, possivelmente, a única pessoa no mundo que <strong>torce para o Guarani E para a Ponte Preta</strong></li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</body>

</html>
