<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=1">
  <link rel="stylesheet" href="../../libraries/bootstrap/css/normalize.css">
  <link rel="stylesheet" href="../../libraries/bootstrap/css/normalize.css">
  <!-- <link rel="stylesheet" href="../../libraries/highlight/css/atom-one-light.css"> -->
  <!-- <link rel="stylesheet" href="../../libraries/highlight/css/github.css"> -->
  <!-- <link rel="stylesheet" href="../../libraries/highlight/css/monokai-sublime.css"> -->
  <link rel="stylesheet" href="../../libraries/highlight/css/xcode.css">
  <link rel="stylesheet" href="css/theme.min.css">
  <link rel="stylesheet" href="css/master.css">
  <link rel="stylesheet" href="css/escrever.css">
  <link rel="shortcut icon" href="images/PDpedia2.png">
  <title>PDpedia</title>
</head>

<body>
  <script src="../../libraries/jQuery/jquery-2.1.4.js" type="text/javascript"></script>
  <script src="../../libraries/bootstrap/js/bootstrap.js" type="text/javascript"></script>
  <script src="js/index.js" charset="utf-8"></script>

  <script type="text/javascript">
    $('.dropdown-menu').find('form').click(function(e) {
      e.stopPropagation();
    });
  </script>

  <script src="js/escrever.js" charset="utf-8"></script>
  <script src="js/marked.js" charset="utf-8"></script>
  <script src="../../libraries/remarkable/remarkable.js" charset="utf-8"></script>
  <script src="../../libraries/highlight/highlight.js" charset="utf-8"></script>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <!--  Esse é um daqueles botões de "hambúrger"-->
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="#">PDpedia</a> -->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="index.html">Home</a></li>
          <li><a href="#artigos">Artigos</a></li>
          <li><a href="acontEspecifico.html">Acontecimentos</a></li>
          <li><a href="bioEspecifico.html">Biografias</a></li>
          <li class="dropdown dropdown-large">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Login
            </a>
            <ul id="div-form-login" class="dropdown-menu">
              <li>
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="loginID" class="control-label">ID</label>
                    <input type="text" class="form-control" id="loginID" placeholder="Enter ID">
                  </div>
                  <div class="form-group">
                    <label for="loginPass" class="control-label">Password</label>
                    <input type="password" class="form-control" id="loginPass" placeholder="Enter Password">
                  </div>
                  <div class="form-group">
                    <button type="button" class="form-control btn-default" id="loginConf">Logar</button>
                  </div>
                </form>
              </li>
            </ul>
          </li>
          <li class="dropdown dropdown-large">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Requisitar cadastro
            </a>
            <ul id="div-form-cadastrar" class="dropdown-menu">
              <li>
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="loginID" class="control-label">ID</label>
                    <input type="text" class="form-control" id="loginID" placeholder="url...">
                  </div>
                  <div class="form-group">
                    <label for="loginNome" class="control-label">Nome</label>
                    <input type="text" class="form-control" id="loginNome" placeholder="Enter Name">
                  </div>
                  <div class="form-group">
                    <label for="cadastrarPass" class="control-label">Password</label>
                    <input type="password" class="form-control" id="cadastrarPass" placeholder="Enter Password">
                  </div>
                  <div class="form-group">
                    <label for="cadastrarConfPass" class="control-label">Confirm Password</label>
                    <input type="password" class="form-control" id="cadastrarConfPass" placeholder="Repeat Password">
                  </div>
                  <div class="form-group">
                    <button type="button" class="form-control btn-default" id="cadastrarConf">Cadastrar</button>
                  </div>
                </form>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <div id="content" class="container-fluid">
    <center>
      <h1 style="margin-bottom: 70px;">Página para criação de conteúdo</h1>
    </center>
    <div id="menu-do-caderno" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <ul class="nav nav-pills nav-stacked">
        <li class="active" style="text-align:center;"><a href="#">Adicionar propriedade</a></li>
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label">Imagem de fundo</label>
            <input type="text" class="form-control" placeholder="http:\\url\da\imagem.jpg">
          </div>
          <div class="form-group">
            <label class="control-label">Coisa interessante #1</label>
            <input type="" class="form-control" value="Foi a primeira pessoa a fazer coisa interessante #1">
          </div>
          <div class="form-group">
            <label class="control-label">Coisa interessante #2</label>
            <input type="" class="form-control" value="Foi a primeira pessoa a fazer coisa interessante #2">
          </div>
          <br>
          <button type="button" class="form-control btn-default" id="cadastrarConf">Submeter</button>
        </form>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <nav class="navbar navbar-default">
          <ul class="nav nav-pills">
            <li id="ver-texto" class="active"><a>Texto</a></li>
            <li id="ver-html"><a>Preview</a></li>
          </ul>
      </nav>
      <textarea id="lugar-onde-escreve" class="caderno"></textarea>
      <div id="html-preview" class="caderno" style="display:none;"></div>
    </div>
  </div>

  <div class="footer">
    <center>
      <h3>Feito com muito <3 e código </h3>
    </center>
  </div>

</body>

</html>
