/*
  ### BIOGRAFIA ESPECÍFICA
*/

#biografia {
  background-color: #FFF;
  height: 100%;
}

.propriedades-conteudo {
  background-color: white;
  border-right: 1px solid rgb(177, 177, 177);
  /*border-bottom: 2px solid gray;*/
}

.texto-conteudo {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 18px;
  border-radius: 15px;
}

#informacoesBio {
  margin-top: 30px;
  margin-left: 0px;
}

.table-borderless tbody tr td, .table-borderless tbody tr th {
  border: none;
}

.table-borderless thead tr td {
  border-bottom: 1px solid rgba(#000000, 0.83);
  border-left: none;
  border-right: none;
  border-top: none;
}
