#menu-do-caderno {
  font-size: 20px;
}

.caderno {
  width: 100%;
  min-height: 800px;
  height: 60vh;
  padding: 0px;
  font-family: monospace;
  overflow-y: auto;
  border: 1px solid rgb(231, 231, 231);
}

.nav-tabs>li {
  left: -1px;
}

#html-preview {
  padding: 20px;
}

#content {
  margin-top: 100px;
  margin-bottom: 80px;
}

.nav li {
  cursor: pointer;
}


/*.nav li.active a{
  color: white;
  background-color: rgb(77, 148, 255);
}*/

code {
  font-size: 15px;
}

form button[type="submit"] {
  width: 200px;
}

#addRow, #removeRow{
  float: left;
  width: 35%;
  margin-right: 10px;
  color: white;
}

#addRow{
  background-color: rgb(99, 177, 62);
}
#removeRow{
  background-color: rgb(215, 54, 11);
}
