body {
  overflow-x: hidden;
}

/*
########
  MENU
########
*/

.navbar {
  font-size: 17px;
}
.dropdown-large {
  position: static !important;
}
.form-horizontal .form-group {
  margin-left: 10px;
  margin-right: 5px;
}
#div-form-login {
  z-index: 3;
  background-color: white;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 32px;
  padding: 20px 0px;
}

/*
###########
  CONTENT
###########
*/


/*
  ### GERAL
*/

#content .pagina {
  min-height: 50vh;
}
.align-middle {
  /*position: absolute;
  top: 50%;
  transform: translateY(-50%);*/
  margin-top: 50%;
  transform: translateY(-50%);
}

/*
  ### HERO
*/

#hero {
  background-color: rgb(238, 179, 0);
  height: 100vh;
}
.apresentacao {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*
  ### MAIN
*/

#main {
  background-color: #ffefee;
}
#artigos-wrapper,
#biografias-wrapper,
#acontecimentos-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 18px;
}

#artigos-wrapper,
#biografias-wrapper,
#acontecimentos-wrapper,
.list-group .list-heading{
  margin-bottom: 1px;
}

#artigos-wrapper .list-group,
#biografias-wrapper .list-group,
#acontecimentos-wrapper .list-group {
  min-height: 80%;
  border-color: #0a2979;
}
#artigos-wrapper .list-group .list-heading,
#biografias-wrapper .list-group .list-heading,
#acontecimentos-wrapper .list-group .list-heading {
  font-size: 23px;
  font-weight: bold;
  background-color: white;
  color: rgb(34, 34, 34);
  border-top: rgb(34, 34, 34) solid 3px;
  border-bottom: rgb(34, 34, 34) solid 3px;
}

#artigos-wrapper label,
#biografias-wrapper label,
#acontecimentos-wrapper label{
  margin-bottom: 6  0px;
  margin-top: 30px;
  font-size: 23px;
}


/*
  ### BIOGRAFIA ESPECÍFICA
*/

#biografia {
  background-color: #FFF;
  height: 100%;
}

.amostraInfo {
  background-color: #feffee;
  border-radius: 15px;
}

.amostraTexto {
  background-color: #feffee;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 18px;
  border-radius: 15px;
}

#informacoes {
  position: relative;
  top : 30px;
  left :0%;
}

.table-borderless tbody tr td, .table-borderless tbody tr th {
  border: none;
}

.table-borderless thead tr td {
  border-bottom: 1px solid #000;
  border-left: none;
  border-right: none;
  border-top: none;
}
